fp-info-cache
breakout.kicad_sch-bak
breakout.sch-bak
breakout.kicad_pcb-bak
breakout-backups
_autosave-breakout.sch
breakout.bak
breakout.bck
production
production.zip
_autosave-*
*auto_saved_files*

