fp-info-cache
controller.kicad_sch-bak
controller.sch-bak
controller.kicad_pcb-bak
controller-backups
_autosave-controller.sch
controller.bak
controller.bck
production
production.zip
_autosave-*
*auto_saved_files*

