fp-info-cache
hookup_board.kicad_sch-bak
hookup_board.sch-bak
hookup_board.kicad_pcb-bak
hookup_board-backups
_autosave-hookup_board.sch
hookup_board.bak
hookup_board.bck
production
production.zip
_autosave-*
*auto_saved_files*

