fp-info-cache
power_supply.kicad_sch-bak
power_supply.sch-bak
power_supply.kicad_pcb-bak
power_supply-backups
_autosave-power_supply.sch
power_supply.bak
power_supply.kicad_prl
power_supply.bck
production
production.zip
_autosave-*
*auto_saved_files*

