fp-info-cache
backplane.kicad_sch-bak
backplane.sch-bak
backplane.kicad_pcb-bak
backplane-backups
_autosave-backplane.sch
backplane.bak
backplane.bck
backplane.kicad_prl
production
production.zip
_autosave-*
*auto_saved_files*

