fp-info-cache
proto_board.kicad_sch-bak
proto_board.sch-bak
proto_board.kicad_pcb-bak
proto_board-backups
_autosave-proto_board.sch
proto_board.bak
proto_board.bck
production
production.zip
_autosave-*
*auto_saved_files*

