fp-info-cache
main_board.kicad_sch-bak
main_board.sch-bak
main_board.kicad_pcb-bak
main_board-backups
_autosave-main_board.sch
main_board.bak
main_board.bck
production
production.zip
_autosave-*
*auto_saved_files*

